html {
    background-image: url(plaguedoc.jpg);
    background-size: cover;
}
header {
    text-align: center;
    font-size: x-large;
    width: 1250px;
    color: white;
   text-shadow: black 3px 3px;
   box-shadow: black 2px 2px 3px 3px;
   text-align: center;
    word-spacing: 20px;   
}
p {
    padding-right: 800px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover  {
    color: purple;
}